@import "ol.css";
.gcod-entry{
	float: left;
	width: 100%;
}
.gcod-image {
	width: 40%;
	float: left;padding: 0 10px 0 0;
}

#gcod_qr {
	float: left;
}

#gcod-map{
	display: block;
	height: 400px;
    width: 100%;
}